@charset "utf-8";
body {

    font-family:"Swiss721BTWGL4-Roman",Arial;
    overflow-x:hidden;
    /*min-width:1280px;*/
    /*    margin:0;
        padding:0;*/
}

a:focus{
    outline-color: transparent;
    outline-offset: 0;
    outline-style: none;
    outline-width: inherit;
}

#mainHeader {
    width:100%;
}

#main-body{
    background-color:#58585a;
}

.header {
    width:100%;
    background-color:#fff;
    min-height:105px;
    color:#8f8f90;
    margin:0;
}

.modal .header {
    height:50px;
}

#flags {
    border:0 green solid;
    position:absolute;
    right:15px;
    top: 15px;
}

#flags img {
    border:0;
    margin-left:7px;
    /*margin-top:2px;*/
}

.top_nav ul li.headerphone {
    /*position:absolute;*/
    /*right:162px;*/
}

.top_nav ul li:last-child {
    margin-right:3px;
}

.clr {
    clear:both;
}

.top_nav,.top_nav a {
    font-family:Swiss721BTWGL4-Roman,Arial;
    font-size:16px;
}

.top_nav {
    float:left;
    margin-top:45px;
    padding-left:80px;
    /*width:858px;*/
    /*border:0 solid red;*/
    /*position:relative;*/
}

.top_nav ul {
    list-style-type:none;
    padding-left:0;
}

.top_nav ul li {
    float:left;
    position:relative;
    margin:0;
    padding:0;
}

.top_nav ul li a {
    display:block;
    color:#8f8f90;
    text-decoration:none;
    height:14px;
    padding-bottom:20px;
    margin:0 30px 0 0;
}

.top_nav ul li a:hover {
    border-bottom:#F60 3px solid;
}

.top_nav ul li ul {
    display:none;
    padding:10px;
}

.top_nav ul li:hover ul {
    background:#58585a;
    display:block;
    position:absolute;
    top:37px;
    left:0;
    width:280px;
    z-index:300;
    padding-top:10px;
    border-left:1px solid #8F8F90;
    border-right:1px solid #8F8F90;
    border-bottom:1px solid #8F8F90;
}

.top_nav ul li:hover ul li {
    width:280px;
}

.top_nav ul li:hover ul li a {
    color:#BABBBD;
    padding:5px;
}

/* Social */
.social {
    padding: 0;
    position: absolute;
    right: 15px;
    top: 45px;
}
.social li {
    float: left;
    list-style: none;
    margin-right: 0 !important;
}
.social li a{
    height: inherit !important;
    padding-bottom: 0 !important;
}
.social li a:hover{
    border: medium none !important;
}
.social li a img:hover{
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.map_icon {
    float:left;
    margin-right:0;
    cursor:pointer;
    border-bottom:0;
    vertical-align:top;
    margin-left:4px;
    padding:0;
}

.map_icon a {
    float:left;
    padding:15px 0 0;
}

.left_content {
    width:251px;
    vertical-align:top;
}

.topnav {
    background-color:#58585a;
    margin-right:20px;
    color:#babbbd;
    vertical-align:top;
    margin-top:10px;
    text-align:right;
}

ul.topnav {
    list-style:none;
    vertical-align:top;
    margin:0;
    padding:0;
}

ul.topnav li {
    color:#babbbd;
    margin-bottom:9px;
}

ul.topnav li ul {
    display:none;
    margin:0;
    padding:10px 0;
}

ul.topnav ul li {
    list-style:none;
    clear:both;
    border:0;
    background:none;
    margin:0;
    padding:0;
}

ul.topnav ul li a {
    font-size:14px;
    border:0;
    background:none;
    /*margin-left:35px;*/
}

ul.topnav ul ul {
    color:#babbbd;
    list-style:none;
}

ul.topnav ul img {
    padding-top:6px;
}

ul.topnav ul ul > span {
    color:#8f8f90;
}

.button {
    background:url(../img/button_left_menu.png) no-repeat!important;
    width:150px;
    height:25px;
    float:right;
    margin-right:0;
    margin-top:10px;
    vertical-align:middle!important;
    border:0 solid red;
    color:#fff!important;
}

.button:hover {
    background:url(../img/button_left_menu_active.png) no-repeat;
}

.refsearch {
    background-color:#999;
    border:1px solid #999;
    width:145px;
    color:#fff;
    text-align:left;
    padding-left:3px;
    margin:2px 20px 2px 0;
}

.selItem {
    color:#ED6D08!important;
}

.container {
    width:948px;
    float:left;
    color:#FFF;
}

.border_orange {
    float:left;
    width:100%;
    height:1px;
    border-top: 7px solid #F60;
    clear:both;
}

.border_orange_thin {
    float:left;
    width:100%;
    height:1px;
    border-top: 3px solid #F60;
    clear:both;
}

.content {
    /*float:left;*/
    color:#FFF;
    /*width:948px;*/
    padding-top:30px;
    padding-bottom:12px;
}

.signatures {
    font-family:Geneva,Arial,Helvetica,sans-serif;
    font-size:35px;
    padding-top:15px;
}

.content_box h1,.content_box_fullwidth h1 {
    background:url(../img/h4_bullet.png) no-repeat;
    padding-left:28px;
    background-position:0 8px;
}

.content_box {
    float:left;
    /*width:465px;*/
    font-size:13px;
    text-align:left;
}

.content_box p,.content_box_fullwidth p {
    margin-top:-4px;
    line-height:17px;
    padding:0;
}

.content_box_rm {
    /*margin-right:16px;*/
}

.content_box img,.content_box_fullwidth img {
    /*    float:left;
        margin-right:10px;
        padding-bottom:15px;*/
}

.content_box_devider {
    /*float:left;*/
    width:100%;
    height:1px;
    background-color:#fff;
    /*clear:both;*/
    /*margin-bottom:19px;*/
}

.content_box_fullwidth {
    float:left;
    font-size:13px;
    text-align:left;
    width:100%;
}

.footer {
    border-top-color: #ff6600;
    border-top-style: solid;
    border-top-width: 7px;
    clear: both;
    color: #999999;
    float: left;
    font-size: 11px;
    height: 100px;
    padding-top: 10px;
    position: relative;
    text-align: right;
    width: 100%;
}

.footer #small {
    font-size:10px;
}

.social_icon {
    float:left;
    margin:0!important;
}

.social_icon img {
    float:left;
    margin-left: 2px;
}

#searchheader {
    float:left;
    margin-top:60px;
    width:100%;
    border:0 solid #fff;
}

#foundresults {
    font-size:14px;
    float:left;
    width:28%;
    margin-top:2px;
    border:0 solid green;
}

#resultsperpage {
    font-size:14px;
    float:left;
    width:20%;
    margin-top:2px;
    text-align:center;
    border:0 solid red;
    position:relative;
    cursor:pointer;
}

#pricesort {
    font-size:14px;
    float:left;
    width:25%;
    margin-top:2px;
    text-align:center;
    border:0 solid blue;
    position:relative;
}

#pricesort .asc,.sortdefault {
    background-image:url(../img/dpdownup.jpg);
    background-repeat:no-repeat;
    background-position:1px;
    margin-top:2px;
    padding-left:16px;
}

#pricesort .desc {
    background-image:url(../img/dpdown.jpg);
    background-repeat:no-repeat;
    background-position:1px;
    margin-top:2px;
    padding-left:16px;
}

.pageup {
    float:left;
    margin-left:2px;
    background:url(../img/page_up.jpg) no-repeat;
    width:12px;
    height:11px;
    cursor:pointer;
    margin-top:3px;
}

.pagedown {
    float:left;
    margin-left:5px;
    background:url(../img/page_down.jpg) no-repeat;
    width:12px;
    height:11px;
    cursor:pointer;
    margin-top:3px;
}

.page_navigator {
    /*border:0 solid #000;*/
    /*height:20px;*/
    float:right;
}

.page_numbers {
    float:left;
    padding-top:2px;
    font-size:11px;
}

.page_numbers ul {
    margin:0;
    padding:0;
}

.page_numbers ul li {
    font-size:14px;
    list-style:none;
    margin-right:4px;
    float:left;
    position:relative;
    padding:0;
}

.page_numbers a {
    color:#999;
    text-decoration:none;
}

.page_numbers .current {
    color:#F60;
    font-weight:700;
}

.page_numbers img {
    margin-top:3px;
}

.searchresultrows {
    float:left;
    width:100%;
    background-color:#646567;
    font-size:14px;
}

.searchresultrows > a >img {
    float:left;
    border-bottom:1px solid #ED6C05;
}

.searchresultrows h4 {
    margin-top:5px;
    margin-bottom:5px;
}

.searchresultrows .rightarea {
    /*    float:left;
        width:392px;
        margin-left:16px;*/
    border:0 solid #ffc0cb;
    padding-right: 30px;
}

.top_section_6 {
    width:830px;
    padding-top:30px;
    float:left;
    color:#999;
    font-size:11px;
}

.desc_r {
    width:435px;
    float:left;
    color:#FFF;
}

.desc_l {
    width:355px;
    float:left;
    padding-left:45px;
}

.left_arrow {
    float:left;
    margin-right:5px;
    background:url(../img/page_arrow_left.jpg) no-repeat;
    width:19px;
    height:15px;
    cursor:pointer;
}

.right_arrow {
    float:right;
    margin-left:5px;
    background:url(../img/page_arrow_right.jpg) no-repeat;
    width:19px;
    height:15px;
    cursor:pointer;
}

.info_rows {
    width:100%;
    height:18px;
    border-bottom:#6f7072 1px solid;
    float:left;
    /*margin-left:26px;*/
}

.info_rows_rent {
    width:365px;
    height:18px;
    border-bottom:#6f7072 1px solid;
    float:left;
    margin-left:26px;
    color:#999;
    font-style:italic;
    font-size:small;
}

.row_rent {
    color:#999;
    font-style:italic;
    font-size:small;
}

.spec_title {
    /*width:160px;*/
    float:left;
}

.spec_titlex {
    /*width:280px;*/
    float:left;
}

.info_col {
    /*width:365px;*/
    float:left;
    /*margin-left:26px;*/
    text-align:justify;
}

.more_details {
    float:right;
    font-size:14px;
    color:#999;
}

.xprev {
    color:#999;
    text-decoration:none;
    background-image:url(../img/arrow_left.png);
    background-repeat:no-repeat;
    background-position:0 2px;
    padding-left:25px;
}

.xnext {
    color:#999;
    text-decoration:none;
    background-image:url(../img/arrow_right.png);
    background-repeat:no-repeat;
    background-position:right 2px;
    padding-right:25px;
}

.bookmarklink {
    float:left;
    width:220px;
    margin:0;
}

.info_rows2 {
    width:330px;
    height:18px;
    border-bottom:#6f7072 1px solid;
    float:left;
}

.spec_title2 {
    width:92px;
    float:left;
}

.content_box3 {
    float:left;
    width:100%;
    font-size:14px;
    text-align:justify;
    color:#FFF;
    padding-top:10px;
    vertical-align:top;
}

.content_box3_col1 {
    width:420px;
    padding-right:25px;
    vertical-align:top;
    padding-top:10px;
    line-height:22px;
}

.content_box3_col2 {
    width:330px;
    padding-right:25px;
    vertical-align:top;
    padding-top:10px;
}

.content_box3_col3 {
    width:190px;
    color:#999;
    vertical-align:top;
    padding-top:10px;
}

.content_box3_col3 a,
.add_details a{
    border:0;
    color:#999;
    text-decoration:none;
}

.content_box3_col3 span {
    cursor:pointer;
    border:0;
    color:#999;
    text-decoration:none;
}

.add_details {
    color:#999;
    /*width:190px;*/
    clear:both;
    /*height:40px;*/
    text-align: left;
}

.add_details img {
    float:left;
    margin-right:10px;
    top:2px;
}

.login {
    float:right;
    color:#e1e1e3;
    margin-right:20px;
    font-size:14px;
    width:215px;
    vertical-align:top;
    margin-top:10px;
}

.login a {
    float:right;
    color:#e1e1e3;
    margin-right:0;
    font-weight:700;
}

.login a:hover {
    float:right;
    color:#fff;
    font-weight:700;
}

.login p {
    float:right;
    margin-right:0;
    text-align:right;
    margin-bottom:5px;
}

.login label {
    display:block;
    float:left;
    width:84px;
    margin-right:10px;
}

#authMessage {
    margin-bottom:5px;
    color:#ED6D08;
}

.form {
    float:left;
    padding-bottom:25px;
}

.form_left {
    float:left;
    width:495px;
    margin-top:10px;
    border:0 red solid;
}

.form_left a {
    color:#FFF;
    margin-left:2px;
}

.form_left a:hover {
    color:#FFF;
    font-weight:700;
}

.form_rows {
    width:384px;
    float:left;
    margin:0 40px 2px 35px;
}

.form_title {
    width:114px;
    float:left;
}

.padd_rght {
    padding-right:40px;
}

.item_box {
    float:left;
    margin-right:20px;
    width:124px;
    margin-bottom:15px;
}

.item_desc {
    float:left;
    width:126px;
}

.item_desc input {
    float:right;
    margin-right:2px;
    vertical-align:middle;
}

.left_panel {
    float:left;
    margin-left:35px;
    width:110px;
}

.right_panel {
    float:right;
    width:600px;
}

.address {
    float:left;
    width:300px;
    line-height:20px;
    margin-top:0;
    padding-top:0;
}

.verfication {
    float:left;
    margin-bottom:30px;
    margin-top:15px;
}

.content_box11 {
    float:left;
    width:948px;
    background-color:#6c6c6c;
    filter:alpha(opacity=70);
    opacity:.7;
    position:absolute;
    height:600px;
    top:0;
    left:0;
    z-index:100;
}

.content_box11_inner {
    float:left;
    width:948px;
    position:absolute;
    top:0;
    left:0;
    z-index:200;
    color:#fff;
}

.product_box_11 {
    width:300px;
    margin-left:40px;
}

.product_box_11 p {
    width:500px;
    float:left;
    margin:0;
}

.product_box_11 img {
    float:right;
    margin-bottom:20px;
    margin-left:25px;
    text-shadow:#000 5px 5px;
}

.content_box12 {
    float:left;
    width:800px;
    background-color:#6c6c6c;
    filter:alpha(opacity=70);
    opacity:.7;
    position:absolute;
    height:260px;
    padding-bottom:30px;
    top:0;
    left:0;
    z-index:100;
}

.content_box12_inner {
    float:left;
    width:750px;
    position:absolute;
    top:0;
    left:0;
    z-index:200;
    color:#fff;
    font-size:11px;
}

.content_box14 {
    float:left;
    width:830px;
    color:#fff;
    font-size:11px;
    margin-top:5px;
}

.content_box14_strip {
    float:left;
    width:830px;
    background-color:#6c6c6c;
    filter:alpha(opacity=70);
    opacity:.7;
    position:absolute;
    height:50px;
    top:422px;
    left:0;
    z-index:100;
}

.content_box14_inner {
    float:left;
    width:750px;
    position:absolute;
    top:435px;
    height:50px;
    left:35px;
    z-index:200;
    color:#fff;
    font-size:20px;
    font-weight:400;
}

.content_box20 {
    float:left;
    width:800px;
    color:#fff;
    font-size:11px;
    border-top:#F60 5px solid;
}

.content_box20 h4 {
    font-size:16px;
    float:left;
    line-height:22px;
    background:url(../img/h4_bullet.png) no-repeat;
    font-weight:400;
    padding-left:20px;
    vertical-align:middle;
    margin:12px 0 12px 15px;
}

.blogs {
    float:left;
    width:180px;
    margin:10px 20px 10px 0;
}

.blogs p {
    margin-left:-15px;
}

.popup_flag {
    float:right;
    margin:30px;
}

.pop_up {
    width:785px;
}

.form_title a {
    color:#CCC;
}

.h2home {
    font-size:17px;
    font-weight:400;
    margin-top:20px;
}

.h1home_content,.h1home_content a {
    font-weight:400;
    text-decoration:none;
    color:#fff;
    font-size:22px;
}

#multi-column-1 {
    -moz-column-width:20em;
    -webkit-column-width:20em;
    column-width:20em;
    text-align:justify;
    font-size:14px;
    line-height:20px;
    padding-top:25px;
}

.multi-column {
    -moz-column-count:2;
    -moz-column-gap:1em;
    -webkit-column-gap:1em;
    padding-right:5px;
}

.modal {
    display:none;
    color:#fff;
}

.modal p {
    text-align:justify;
    font-size:14px;
    margin:0 30px;
}

.modal .hint,.contactform .hint {
    margin-top:20px;
    margin-left:0;
    padding-bottom:10px;
    font-style:italic;
    color:#babbbd;
    font-size:11px;
}

.modal .form {
    float:left;
    font-size:14px;
    margin:10px 10px 0 30px;
}

.modal .row,.login .row,.contactform .row {
    padding-bottom:5px;
}

.modal label {
    display:block;
    float:left;
    width:180px;
    margin-right:10px;
}

.modal textarea {
    width:230px;
    height:80px;
    text-indent:3px;
    font-family:Helvetica;
    font-size:12px;
}

.modal .redstar {
    color:#F60;
    margin-left:5px;
    font-size:12px;
}

.modal #SmscallbackTelCountry {
    width:35px;
    margin-right:5px;
}

.modal #SmscallbackTelPre {
    width:55px;
    float:left;
    margin-right:5px;
}

.modal #SmscallbackTelNumber {
    width:118px;
    float:left;
    margin-right:5px;
}

.modal #country {
    width:35px;
    margin-right:23px;
    margin-left:155px;
}

.modal #pre {
    width:45px;
    margin-right:45px;
}

.modal #number {
    width:75px;
}

.modal .submitbtn,.submitbtn {
    margin-top:15px;
    float:left;
}

.modal .close {
    background-image: url("../img/close.png");
    cursor: pointer;
    height: 22px;
    position: absolute;
    right: 8px;
    top: 10px;
    width: 22px;
}
.custom-modal .close{
    opacity: 1;
    text-indent: -9999px;
}

div.error-message,div#errorplaceholder {
    color:#ED6D08;
    font-size:11px;
    font-style:italic;
    width:240px;
    margin-left:190px;
}

.modal #flashMessage,.staticcontentarea #flashMessage {
    float:left;
    font-size:12px;
    font-weight:700;
    margin:30px 10px 30px 30px;
}

.modal .loadingDiv,.loadingDiv {
    float:left;
    clear:both;
    margin-left:5px;
    width:200px;
    height:16px;
    color:#ED6D08;
    font-size:10px;
    font-style:italic;
    vertical-align:middle;
}

.modal .loadingDiv img {
    margin:3px 5px 0 0;
}

.modal .infoleft {
    float:left;
    width:180px;
    margin-right:10px;
}

.modal .inforight {
    float:left;
    width:260px;
}

h4 a {
    color:#FFF;
    text-decoration:none;
}

.content2 {
    color:#FFF;
    width:800px;
    border-top:#F60 3px solid;
    float:left;
}

.content_box2 {
    float:left;
    width:800px;
    background-color:#646567;
    font-size:11px;
    line-height:16px;
    text-align:justify;
    margin-top:5px;
}

.content_box9 {
    margin-left:15px;
    padding-right:30px;
}

.staticcontentbg {
    width:948px;
    float:left;
    background-color:#646567;
    text-align:justify;
    margin-bottom:5px;
    border:0 solid red;
}

.staticcontent {
    width:948px;
    float:left;
    margin-bottom:5px;
    border:0 solid red;
}

.staticcontentarea {
    width:948px;
    border:0 solid red;
    font-size:14px;
    text-align:justify;
    margin:auto;
}

.staticcontentarea p {
    padding-left:0;
    font-size:14px;
    margin:5px 0;
}

.staticcontentarea h1 {
    font-size:17px;
}

.staticcontentbg p {
    margin-left:40px;
    margin-right:40px;
}

#scrollbar1 .viewport {
    height:200px;
    overflow:hidden;
    position:relative;
}

#scrollbar1 .overview {
    list-style:none;
    position:absolute;
    top:0;
    right:10px;
    margin:0;
    padding:0;
}

#scrollbar1 .scrollbar {
    position:relative;
    background-position:0 0;
    float:right;
    width:15px;
    padding-right:15px;
}

#scrollbar1 .track {
    background-color:#87888A;
    height:100%;
    width:13px;
    position:relative;
    padding:0 1px;
}

#scrollbar1 .thumb {
    background-color:#C8C9CB;
    height:0;
    width:13px;
    cursor:pointer;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
}

#scrollbar1 .thumb .end {
    overflow:hidden;
    height:5px;
    width:25px;
}

#mti_wfs_colophon {
    display:none!important;
}

.cMenu,.highlightMenu {
    padding-bottom:3px;
    border-bottom:3px solid #F60!important;
    color:#FFF!important;
}

.contactform {
    float:left;
    font-size:14px;
    margin:15px 0 10px 40px;
}

.contactform input[type=text] {
    width:300px;
    text-indent:3px;
}

.contactform input[type=checkbox] {
    margin:3px 0 15px;
}

.contactform label {
    display:block;
    float:left;
    width:200px;
    margin-right:10px;
}

.contactform .indent label {
    margin-left:40px;
    width:160px;
}

.contactform textarea {
    width:300px;
    height:100px;
    text-indent:3px;
    font-size:14px;
    font-family:Helvetica;
}

.contactform .error-message {
    color:#ED6D08;
    font-size:11px;
    font-style:italic;
    width:240px;
    margin-left:210px;
}

.contactform #flashMessage {
    float:left;
    font-size:12px;
    font-weight:700;
    margin:30px 10px 30px 20px;
}

.contactform .highlight {
    border:0 solid red;
    margin-top:10px;
    padding-left:40px;
    background-image:url(../img/alert.png);
    background-repeat:no-repeat;
    background-position:0 0;
}

.drop_down_list {
    background-color:#58585A;
    border-bottom:1px solid #F60;
    border-left:1px solid #F60;
    border-right:1px solid #F60;
    color:#8F8F90;
    display:none;
    left:95px;
    position:absolute;
    top:18px;
    margin:0;
    padding:3px;
}

.drop_down_list li {
    cursor:pointer;
    list-style-type:none;
    width:60px;
    padding:3px;
}

.drop_down_list a {
    color:#FFF;
}

#wrap {
    display:none;
    padding-bottom:20px;
}

#wrap .jcarousel-skin-tango .jcarousel-container {
    background:#646567;
    border:1px solid #8F8F90;
}

#wrap .jcarousel-skin-tango .jcarousel-container-horizontal {
    width:520px;
    height:130px;
    padding:20px 20px 15px;
}

#wrap .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:510px;
    height:130px;
    float:left;
    margin-left:10px;
}

#wrap .jcarousel-skin-tango .jcarousel-item {
    width:160px;
    height:130px;
    text-align:center;
}

#wrap .jcarousel-skin-tango .jcarousel-prev-horizontal {
    width:20px;
    height:14px;
    background:url(../img/arrow_left.png) center center transparent;
    left:2px;
    top:70px;
}

#wrap .jcarousel-skin-tango .jcarousel-next-horizontal {
    width:20px;
    height:14px;
    background:url(../img/arrow_right.png) center center transparent;
    right:2px;
    top:70px;
}

#wrap .jcarousel-skin-tango .message {
    position:absolute;
    top:10px;
    right:40px;
    width:120px;
    height:140px;
}

#wrap .jcarousel-skin-tango .text {
    margin-top:20px;
    font-size:45px;
    color:#333;
    font-weight:700;
    font-family:Arial,Helvetica,sans-serif;
    letter-spacing:-4px;
    text-align:center;
}

#bookmarks span {
    font-size:11px;
    margin-right:8px;
}

#bookmarks input {
    position:relative;
    top:3px;
}

#bookmarks label {
    float:none;
    width:auto;
    margin:0;
}

.nivoSlider#sell {
    width:1668px;
    height:600px;
}

#sell .nivo-caption p {
    font-size:20px;
    margin:8px 0 8px 23px;
}

#sell .nivo-caption {
    background:#6c6c6c;
    bottom:40px;
    width:948px;
    font-family:Swiss721BTWGL4-Roman,Arial;
}

#sell .nivo-controlNav {
    border:0 solid red;
    right:720px;
}

.nivoSlider#slider {
    width:100%;
    height:631px;
}

#captchaCode {
    width:20px;
}

.smsicon {
    background-image:url(../img/phone_icon.jpg);
    background-repeat:no-repeat;
    background-position:0 -3px;
    padding-left:25px;
    color:#BABBBD;
    text-decoration:none;
}

.mailicon {
    background-image:url(../img/mail_icon.jpg);
    background-repeat:no-repeat;
    padding-left:25px;
    background-position:0 -1px;
    color:#BABBBD;
    text-decoration:none;
}

.contact_google_link {
    padding-left:10px;
    cursor:pointer;
}

.part1 {
    height:94px;
    border:0 solid red;
    line-height:22px;
    font-size:8px;
}

.part2 {
    height:172px;
    border:0 solid #ffd700;
}

.part3 {
    height:48px;
    border:0 solid #00ff7f;
    line-height:16px;
}

.part4 {
    height:17px;
    border:0 solid aqua;
    margin-top:10px;
}

#UserLoginForm .error-message {
    margin-left:0;
    margin-top:5px;
    right:0;
    width:180px;
}

.login #flashMessage {
    margin:30px 0;
}

#sitemap {
    padding:0 40px;
}

.content_box3_col2 table {
    width:100%;
    margin:0;
    padding:0;
}

.content_box3_col2 td,
.td-uline td{
    border-bottom:1px solid #6F7072;
    height:18px;
    text-align:left;
}

#detail_contact_button a {
    cursor:pointer;
    -moz-box-shadow:inset 0 1px 0 0 #fff;
    -webkit-box-shadow:inset 0 1px 0 0 #fff;
    box-shadow:inset 0 1px 0 0 #fff;
    background:0;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777;
    font-size:15px;
    font-weight:700;
    text-decoration:none;
    text-shadow:1px 1px 0 #fff;
    background-image:url(../img/mail_icon.png);
    background-repeat:no-repeat;
    background-position:5px 9px;
    padding:6px 35px;
}

#detail_contact_button a:hover {
    background:0;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',endColorstr='#ededed');
    background-color:#dfdfdf;
    background-image:url(../img/mail_icon.png);
    background-repeat:no-repeat;
    background-position:5px 9px;
}

#detail_contact_button a:active {
    position:relative;
    top:1px;
}

#ribbon {
    width:258px;
    height:48px;
    z-index:1000;
    position:absolute;
    display:inline;
    padding-top:5px;
    background-image:url(../img/ribbon.png);
    margin:10px 0 0 0;
    right: -3px;
}

#ribbon span {
    font-weight:700;
    padding-left:50px;
}

#spalten {
    font-size:14px;
    line-height:20px;
    text-align:justify;
    -webkit-column-count:2;
    -webkit-column-gap:20px;
    -moz-column-count:2;
    -moz-column-gap:20px;
    column-count:2;
    column-gap:20px;
}

.vip {
    width:251px;
    position:absolute;
    top:675px;
    color:#babbbd;
    margin-bottom:9px;
    text-align:right;
}

img,.bookmarklink img {
    border:0;
}

.logo,.banner,.description,.modal .oneline {
    float:left;
}

.top_nav ul li:hover ul li a:hover,ul.topnav ul li a:hover {
    color:#fff;
    border:0;
}

#menuSel,.modal .header,#scrollbar1 .disable,#slider .nivo-caption p,#slider .nivo-caption {
    display:none;
}

ul.topnav li a,.vip a {
    display:block;
    line-height:18px;
    font-size:20px;
    color:#babbbd;
    text-decoration:none;
    border-bottom:#8f8f90 3px solid;
    padding-bottom:3px;
    /*margin-right:21px;*/
}

ul.topnav li a:hover,.vip a:hover {
    color:#fff;
    text-decoration:none;
    border-bottom:#F60 3px solid;
}

ul.topnav ul ul li a:hover,.content_box a,#pricesort a,.more_details a:hover,a.whitelink,.content_box12_inner a:hover,.content_box14 a:hover,.content_box20 a:hover {
    color:#fff;
}

ul.topnav span,.vip span {
    float:left;
    margin-left:5px;
}

.orange,.content_box h2,.content_box_fullwidth h2,.content_box h3,.content_box_fullwidth h3 {
    background:url(../img/h4_bullet.png) no-repeat;
    padding-left:28px;
    background-position:0 3px;
}

.content_box_fullwidth a,.form_title a:hover {
    color:#fff;
    font-weight:700;
}

.footer a,.more_details a {
    color:#999;
}

.page_numbers a:hover,.xprev:hover,.xnext:hover,#innerhead,#leveltwoacc,a.smsicon:hover,a.mailicon:hover,#sitemap a,#sitemap a:hover,a.secretlink,#ribbon span a {
    color:#fff;
    text-decoration:none;
}

.searchresultrows p,.mrg_left,.content_box11_inner h4,.staticcontentbg h4 {
    margin-left:40px;
}

.content_box3_col1 h1,h4 {
    font-weight:400;
    font-size:17px;
}

.content_box3_col3 a:hover,
.content_box3_col3 span:hover,
.add_details a:hover {
    border:0;
    color:#fff;
}

.login input[type=text],.login input[type=password] {
    width:113px;
    text-indent:3px;
}

.content_box12_inner a,.content_box14 a,.content_box20 a {
    color:#e1e1e3;
    margin-right:2px;
    font-weight:700;
}

.content_box14 p,.content_box20 p {
    text-align:justify;
    line-height:18px;
    margin:0;
}

.content_box14 p a,.content_box20 p a {
    color:#fff;
    font-weight:400;
}

.h2home_content,.h2home_content a,.h3home_content,.h3home_content a {
    font-weight:400;
    text-decoration:none;
    color:#fff;
    font-size:17px;
}

#outerhead,.ultwo {
    color:#fff;
    text-decoration:none;
    border-bottom:#F60 2px solid;
}

.modal input[type=text],.modal input[type=password] {
    width:230px;
    text-indent:3px;
}

.staticcontentarea h2,#slider .nivo-controlNav {
    font-size:14px;
}

/* Misc Typo */
.modal input[type="text"], 
.modal input[type="password"],
.modal input[type="email"],
.modal input[type="url"],
.modal input[type="search"],
.modal .submitbtn{
    color: #262626;
}

#leftnav .close{display: none;}

/* Misc Typo */
.no-pad{padding: 0;}
.no-pad-top{padding-top: 0;}
.no-pad-rgt{padding-right: 0;}
.no-pad-btm{padding-bottom: 0;}
.no-pad-lft{padding-left: 0;}
.no-mrgn{margin: 0;}
.no-mrgn-top{margin-top: 0;}
.no-mrgn-rgt{margin-right: 0;}
.no-mrgn-btm{margin-bottom: 0;}
.no-mrgn-lft{margin-left: 0;}

/* @media Query Css For All Devices */
@media (max-width:1024px){}
@media screen and (max-width:768px){
    .top_nav{
        float: left;
        margin-top: 75px;
        padding-left: 0;
    }
    .top_nav ul li a{
        margin-right: 25px;
    }
    .searchresultrows .rightarea {
        padding-left: 30px;
    }
}
@media (max-width:767px){
    body {
        padding-top: 156px;
    }
    #mainHeader {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1030;
    }
    #menu-toggle-btn{
        background-color: #ffffff;
        border-top-color: #58585a;
        border-top-style: solid;
        border-top-width: 1px;
        padding: 8px 15px;
    }
    .navbar-toggle{
        border-color: #58585a;
        margin: 0;
    }
    .navbar-toggle .icon-bar{
        background-color: #58585a;
    }
    .navbar-toggle-lft{
        color: #58585a;
        float: left;
        padding: 6px 15px;
    }
    .navbar-toggle:hover{
        border-color: #262626;        
    }
    .navbar-toggle:hover .icon-bar{
        background-color: #262626;
    }
    .content-part{
        padding-left: 15px;
    }
    .top_nav {
        border-top-color: #58585a;
        border-top-style: solid;
        border-top-width: 1px;
        float: none;
        margin: 0;
        padding: 0;
    }
    .top_nav ul li {
        display: block;
        float: none;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        position: relative;
    }
    .top_nav ul li a {
        border-bottom-color: rgba(0, 0, 0, 0);
        border-bottom-style: solid;
        border-bottom-width: 3px;
        display: block;
        height: inherit;
        margin-right: 0;
        padding-bottom: 0;
    }
    .top_nav ul li:hover ul {
        background-color: transparent;
        border-bottom-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        position: relative;
        top: 0;
        width: 100%;
    }
    .top_nav ul li:hover ul li {
        width: auto;
    }
    .top_nav ul li:hover ul li a {
        color: #8f8f90 !important;
        padding: 0;
    }
    .top_nav ul li:hover ul li a:hover {
        border-bottom: 3px solid #f60;
    }
    #leftnav{
        background-color: #5a5a5a;
        bottom: 0;
        left: -235px;
        overflow-y: scroll;
        padding-top: 20px;
        position: fixed;
        top: 0;
        width: 230px;
        z-index: 1050;
        -webkit-box-shadow: 1px 2px 3px #999999;
        -moz-box-shadow: 1px 2px 3px #999999;
        box-shadow: 1px 2px 3px #999999;
    }
    #leftnav .close{
        display: block;
        opacity: 1;
        position: absolute;
        right: 12px;
        top: 8px;
        z-index: 1030;
    }
    .refsearch{
        margin-right: 0;
    }
    /*#appnav{display: inline-block !important;}*/
    .content_box3 .text-right{text-align: center;}
}
@media (max-width:640px){}
@media (max-width:480px){
    #foundresults,
    #resultsperpage,
    #pricesort,
    .page_navigator{
        text-align: center;
        width: 100%;
    }
    .page_numbers {
        float: none;
    }
    .page_numbers ul li {
        display: inline-block;
        float: none;
    }
}
@media (max-width:400px){
    body {
        padding-top: 138px;
    }
    .logo {
        max-width: 65%;
    }
    div[class*='col-xs-']{
        width: 100%;
    }
    .content_box img, 
    .content_box_fullwidth img{
        width: 100%;
    }
}
@media (max-width:360px){}